@import "../constants.scss";

.donation-encourager__blur-content {
  transition: filter $speed $ease;
  &.blur-active {
    filter: blur(4px);
    opacity: .3;
    pointer-events: none;
  }
}

.donation-encourager__gradient-content {
  position: relative;
  &:after {
    display: block;
    content: "";
    // background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity $speed $ease;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, white 100%);
  }
  &.gradient-active {
    &:after {
      opacity: 1;
    }
  }
}
