@import "../constants.scss";

@media screen {
  .donation-encourager__lock-content {
    transition: filter $speed $ease;
    &.content-lock-active {
      filter: blur(4px);
      opacity: .3;
      pointer-events: none;
      backface-visibility: hidden;
    }
  }

  .donation-encourager__gradient {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absoulte;
      left: calc(-50vw + 50%);
      top: -$content-lock--gradient-height;
      height: $content-lock--gradient-height;
      background-image: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0), 
        white 100%
      );
      opacity: 0;
      position: absolute;
      transition: opacity $speed $ease;
      width: 100vw;
      pointer-events: none;
    }
    
    &.content-lock-active {
      margin-top: -1rem;
      &::before {
        opacity: 1;
      }
    }
  }
}