@import "../constants.scss";

@media screen {
  .donation-encourager__lock-content {
    transition: filter $speed $ease;
    &.content-lock-active {
      filter: blur(4px);
      opacity: .3;
      pointer-events: none;
      backface-visibility: hidden;
    }
  }
}