@import "../app/constants.scss";

.donation-encourager__feedback {
  position: fixed;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  width: 450px;
  max-width: 100vw;
  padding: 1em 2em;
  background-color: white;
  box-shadow: 0 1px 15px $color--black-3;
  p {
    line-height: 1.4rem;
  }
}