$ease: ease-in-out;
$speed: 0.3s;
$speed-slow: 0.6s;
$speed-fast: 0.10s;

$color--white: white;
$color--white-1: rgba(255, 255, 255, .85);
$color--white-3: rgba(255, 255, 255, .07);

$color--black: black;
$color--black-1: rgba(0, 0, 0, .85);
$color--black-2: rgba(0, 0, 0, .33);
$color--black-3: rgba(0, 0, 0, .07);

$color--primary: hsl(200, 81%, 52%);

$breakpoint-mobile: 850px;

$item-size: 5rem;
$item-size-mobile: 4rem;

$item-font-size: 3rem;
$item-font-size--hover: 3.5rem;
$item-font-size-mobile: 2.5rem;
$item-font-size-mobile--hover: 3rem;

$content-lock--gradient-height: 150px;