@import "../app/constants.scss";

.donation-encourager__item-selector {
  margin: 0 0 20px 0;
  box-sizing: border-box;

  .donation-encourager__item {
    box-sizing: border-box;
    font-size: $item-font-size;
    height: $item-size;
    line-height: $item-size;
    text-align: center;
    transition: 0.1s ease;
    width: $item-size;

    &.selected,
    &:hover {
      font-size: $item-font-size--hover;

      @media screen and (max-width: $breakpoint-mobile) {
        font-size: $item-font-size-mobile--hover;
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: $item-font-size-mobile;
      height: $item-size-mobile;
      line-height: $item-size-mobile;
      width: $item-size-mobile;
    }
  }

  .donation-encourager__drag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: $item-size;
    @media screen and (max-width: $breakpoint-mobile) {
      min-height: $item-size-mobile;
    }
  }

  .donation-encourager__drop-target-container {
    display: flex;
    min-height: $item-size-mobile;
    border: 1px dashed gray;
    border-radius: 12px;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background-color: none;
    transition: background-color 0.2s ease;

    @media screen and (max-width: $breakpoint-mobile) {
      min-height: $item-size-mobile;
    }

    &.highlighted {
      background-color: rgba(18, 159, 201, 0.1);
    }
    .donation-encourager__drop-target {
      .donation-encourager__draggable {
        display: flex;
        justify-content: center;
      }
    }
    .donation-encourager__item {
      position: relative;
      cursor: pointer;
      // remove indicator
      &:hover::after {
        content: "❌";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
