@import "../app/constants.scss";

.donation-encourager__monthly-check {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  span:first-child {
    margin-right: .5em;
  }
  .switch {
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
      display: none;
    }
    label {
      display: block;
      width: 48px;
      height: 24px;
      text-indent: -150%;
      clip: rect(0 0 0 0);
      color: transparent;
      user-select: none;
      margin: 0;
    }

    label::before,
    label::after {
      content: "";
      display: block;
      position: absolute;
      cursor: pointer;
    }
    label::before {
      width: 100%;
      height: 100%;
      background-color: #dedede;
      border-radius: 9999em;
      -webkit-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
    }
    label::after {
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
      -webkit-transition: left 0.25s ease;
      transition: left 0.25s ease;
    }
    input[type="checkbox"]:checked + label::before {
      background-color: $color--primary;
    }
    input[type="checkbox"]:checked + label::after {
      left: 24px;
    }
  }
}
