@use "../app/constants.scss";

.donation-encourager {
  color: constants.$color--black-1;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 1em 2em;
  box-shadow: 0 1px 15px constants.$color--black-3;
  clear: both;

  @media screen and (max-width: constants.$breakpoint-mobile) {
    padding: 1em;
  }

  @media print {
    display: none !important;
  }

  &.content-lock-active {
    margin-top: -1rem;
  }
}

.donation-encourager__collapse-me {
  display: block;
  max-height: 100vh;
  overflow-y: hidden;
  transition:
    max-height constants.$speed constants.$ease,
    opacity constants.$speed constants.$ease;

  &[hidden] {
    display: block;
    max-height: 0;
    opacity: 0;
  }
}

.donation-encourager__lead {
  cursor: pointer;
}

.donation-encourager__headline {
  color: constants.$color--primary;
  font-size: 500%;
  line-height: 100%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.donation-encourager__lead-text {
  color: constants.$color--primary;
  text-align: center;
  margin-bottom: 0 !important;
}

.donation-encourager__body {
  margin-top: 1em !important;
  margin-bottom: 1em;
}

.donation-encourager__meta {
  color: constants.$color--black-2;
  text-align: center;
}

.donation-encourager__reset-btn {
  // Reset button default style:
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: underline !important;
  -webkit-appearance: none !important;
  border: 0 !important;
  cursor: pointer !important;
  color: inherit !important;
  background: transparent !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

.donation-encourager__cta {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  &[hidden] {
    display: none;
  }
}

.donation-encourager__button {
  display: inline-block;
  box-shadow: 0 1px 4px constants.$color--black-2;
  border-radius: 10px;
  padding: 0.5em 1em;
  text-decoration: none;
  color: constants.$color--white;
  transition: box-shadow constants.$ease constants.$speed-fast;
  transition: constants.$ease constants.$speed-fast;
  margin: 0 5px;
  border: none;
  text-align: center;

  &:hover,
  &:focus {
    box-shadow: 0 2px 8px constants.$color--black-2;
    text-decoration: none;
  }

  &.inactive {
    background-color: constants.$color--black-2;
    pointer-events: none;
  }

  @media screen and (max-width: constants.$breakpoint-mobile) {
    padding: 0.5em;
  }
}

.donation-encourager__cta-button {
  background-color: constants.$color--primary;
}

.donation-encourager__unlock-button {
  background-color: white;
  color: constants.$color--primary;
  box-shadow: none;
  cursor: pointer;
}

.donation-encourager__credit {
  color: constants.$color--black-2;
  text-align: right;
  // font-style: italic;
}

.donation-encourager__strike-out {
  position: relative;
  margin: 0 0.3rem;
  .donation-encourager__strike-out-text {
    opacity: 0.8;
  }
  .donation-encourager__strike-out-stroke {
    content: "";
    width: calc(100%);
    position: absolute;
    left: -0.1rem;
    top: 50%;
    border-bottom: 2px solid red;
    transform: skewY(-25deg);
    z-index: 2;
  }
}
